@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">');


* {
  box-sizing:border-box
}

:root {
  /* Typograthy */
--family: 'Ubuntu', sans-serif;
--fs-sm: 14px;
--fs-md: 16px;
--fs-lg: 25px;
--fw-light:400;
--fw-normal:500;
--fw-bold:700;
--swiper-pagination-color:#00A0AB;
--swiper-pagination-bullet-inactive-color:#C7C7C7;
--swiper-pagination-bullet-inactive-opacity: 1;




}
body {
  margin: 0;
  background-color: #FFFFFF;
  --color-text-bold: #2C2C2C;
  --color-text-light: #8F8F8F;

}
